:root {
  --paragraph-color: #757575;
  --brand-color: #2196f3;
  --bg-color: #2f303a;
  --writing-color: #212121;
  --white-color: #ffffff;
  --team-color: #f5f4fa;
  --button-bgcolor: #e5e5e5;
}
* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.66;
  letter-spacing: 3%;
}
.container {
  width: 100%;
}
.page-header {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}
.logo {
  text-decoration: none;
  color: var(--writing-color);
  font-weight: 700;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1, 17;
  padding-left: 215px;
  margin-right: 93px;
}
.web-logo {
  text-decoration: none;
  color: var(--brand-color);
  font-family: raleway;
  font-weight: 400px;
  font-size: 26px;
  line-height: 1.38;
}
.unstyled-list {
  list-style-type: none;
}
.contact-list {
  list-style-type: none;
  margin-left: auto;
}
.contact-list-item {
  display: inline-block;
}
.nav-list-item {
  display: inline-block;
}
.link {
  text-decoration: none;
  color: var(--paragraph-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  font-style: normal;
}
.nav-link {
  color: var(--writing-color);
  font-style: normal;
  font-weight: 500px;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--brand-color);
  cursor: pointer;
}
.link:hover,
.link:focus,
.link:active {
  color: var(--brand-color);
  cursor: pointer;
}
.heading-section {
  background-color: var(--bg-color);
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  padding: 200px 0;
}
.heading {
  font-weight: 900px;
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
  display: inline-block;
}
.request-button {
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  background-color: var(--brand-color);
  border-radius: 4px;
  display: inline-block;
  margin-top: 30px;
}
.request-button:hover,
.request-button:active,
.request-button:focus {
  background-color: var(--brand-color);
  cursor: pointer;
}
.working-item {
  width: 1200px;
  margin: 0 auto;
  padding: 94px 0;
}
.working-list {
  display: flex;
  gap: 30px;
}

.title-item {
  color: var(--writing-color);
  font-style: bold;
  font-size: 14px;
  line-height: 1.14;
  display: inline-block;
  margin-bottom: 10px;
}
.dataitem {
  color: var(--paragraph-color);
  font-size: 14px;
  line-height: 1.71;
}
.section-heading {
  color: var(--writing-color);
  font-size: 36px;
  font-style: bold;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.our-team {
  width: 1200px;
  margin: 0 auto;
  padding: 94px 0;
  background-color: var(--team-color);
}
.our-team-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.our-team-photo {
  display: inline-block;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 1px rgba(0, 0, 0, 0.14),
    3px 0px 1px rgba(0, 0, 0, 0.12);
  width: 270px;
  text-align: center;
}
.image-section {
  width: 1200px;
  margin: 0 auto;
  padding: 94 0;
}
.images {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.image-item {
  flex-basis: 270px;
  display: inline-block;
}
.person-name {
  color: var(--writing-color);
  font-size: 16px;
  font-weight: 500px;
  line-height: 1.17;
}
.person-title {
  color: var(--paragraph-color);
  font-size: 16px;
  font-weight: 400px;
  line-height: 1.17;
}
.address-section {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--bg-color);
  padding: 60px 0;
  text-align: left;
}

.address-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  font-style: normal;
}
.address {
  text-decoration: none;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  font-style: normal;
}
.address:hover,
.address:focus,
.address:active {
  color: var(--brand-color);
  cursor: pointer;
}
.address-link:hover,
.address-link:focus,
.address-link:active {
  color: var(--brand-color);
  cursor: pointer;
}
.logo-address {
  text-decoration: none;
  color: var(--white-color);
  font-family: raleway;
  font-weight: 400px;
  font-style: normal;
  font-size: 26px;
  line-height: 1.38;
}

.web-logo-footer {
  text-decoration: none;
  color: var(--brand-color);
  font-family: raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-address .web-logo-footer:hover,
.logo-address .web-logo-footer:focus,
.logo-address .web-logo-footer:active {
  color: var(--brand-color);
  cursor: pointer;
}
.nav-button {
  font-style: medium;
  font-size: 16px;
  color: var(--writing-color);
  background-color: #f5f4fa;
  line-height: 1.62;
  border-radius: 4px;
  border-color: #f5f4fa;
}
.nav-button:hover,
.nav-button:focus,
.nav-button:active {
  cursor: pointer;
  background-color: var(--brand-color);
  border-color: var(--brand-color);
  color: var(--white-color);
}
.data-item {
  color: var(--paragraph-color);
  font-size: 14px;
  line-height: 1.87;
  display: inline-block;
  padding-left: 24px;
}

.main-nav {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
}
.main-nav-item {
  display: inline-block;
  margin-right: 52px;
}
.product-section {
  background-color: #f5f4fa;
  width: 1200px;
  margin: 0 auto;
  padding: 56px 0 94px 0;
}
.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
.product-item {
  display: inline-block;
  width: 370px;
}
.product-name {
  color: var(--writing-color);
  font-style: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 6%;
}
.product-image {
  vertical-align: bottom;
}
.subtitle {
  border: 1px solid #eeee;
}
